@{
    ViewBag.Title = "Home Page";
}

<header class="app-header app-header-large">
    <h1 class="app-logo app-logo-large">Golf<br />Challenge</h1>
</header>

<div class="section section-lightgray">
    <div class="app-content">
        <a class="button button-large action-match-create" href="#createMatch">Start ny match</a>
    </div>
</div>

<div class="section section-white app-content">
    <aside class="row">
        
            <a href="/match" class="dashboard-button">
                <span class="icon-trophy icon"></span>
                <span class="caption">Leaderboard</span>
            </a>
        
            <a href="/match" class="dashboard-button">
                <span class="icon-flag icon"></span>
                <span class="number">BETA</span>
                <span class="caption">Matches</span>
            </a>
        
            <a href="/player" class="dashboard-button">
                <span class="icon-user icon"></span>
                <span class="number">4</span>
                <span class="caption">Players</span>
            </a>
        
        
            <a href="#" class="dashboard-button">
                <span class="icon-stats icon"></span>
                <span class="number">&nbsp;</span>
                <span class="caption">Stats</span>
            </a>
        
            <a href="#" class="dashboard-button">
                <span class="icon-cog icon"></span>
                <span class="caption">Settings</span>
            </a>
        
    </aside>
</div>