<header class="app-header app-header-small">
    <h1 class="app-logo app-logo-small">Golf<br>Challenge</h1>
    <a href="/" id="app-toggle-nav">
        <span class="icon-menu"></span>
    </a>
</header>
