<div class="app-topbar">
    <a href="#/" class="app-topbar-back">&lt;</a>
    <span class="app-topbar-text">Ny bane</span>
</div>

<div class="section section-white">
    <div class="app-content">
        <div class="app-dialog-form-input" data-id="">
            <label>Banenavn</label>
            <input type="text" ng-model="name" />
        </div>
    </div>
    <hr class="devider"/>
    <div class="app-content">
        <button ng-click="submit()" class="app-button">Opret bane</button>
    </div>
</div>