<div class="app-topbar">
    <a href="#/" class="app-topbar-back">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24" viewBox="0 0 24 24"><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" /></svg>
    </a>
    <span class="app-topbar-text">Ny match</span>
</div>

<div class="section section-white">
    <div class="app-content">
        <h2 class="app-list-header">Golfbane</h2>
        <ul class="app-list">
            <li class="app-list-item app-text" ng-repeat="course in courses track by $index" ng-click="selectCourse($index)" ng-class="course.selected ? 'selected' : ''">
                <div class="app-list-item-icon">
                    <span class="text">
                        C
                    </span>
                </div>
                <div class="app-list-item-content">
                    <h2 class="app-list-item-header">
                        {{course.name}}
                    </h2>
                    <span class="app-list-item-text">
                        200m væk
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <hr class="devider"/>
    <div class="app-content">
        <h2 class="app-list-header">Spillere</h2>
        <ul class="app-list">
            <li ng-repeat="player in players track by $index" ng-class="player.selected ? 'selected' : ''" ng-click="togglePlayer($index)" class="app-list-item app-text" data-id="{{player.Id}}">
                <div class="app-list-item-icon">
                    <span class="text">?</span>
                </div>
                <div class="app-list-item-content">
                    <h2 class="app-list-item-header">{{player.name}}</h2>
                    <span class="app-list-item-text">
                        Hcp: {{player.hcp}}
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <button ng-click="createMatch()" class="app-header-action app-button-action app-button-action-fixed">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="36" height="36" viewBox="0 0 36 36"><path d="M13.5 24.26L7.24 18l-2.12 2.12 8.38 8.38 18-18-2.12-2.12z" /></svg>
    </button>
    <input type="hidden" ng-model="date" />
    <!--
    <a href="" ng-click="test()">TEST</a>-->
</div>

<div class="app-dialog" ng-show="showNewPlayer">
    <header class="app-dialog-header">
        <a ng-click="showNewPlayer = ! showNewPlayer" class="app-dialog-header-close">x</a>
        <span class="app-dialog-header-text">Ny spiller</span>
    </header>
    <h2 class="app-list-header">Venner</h2>
    <ul class="app-list" id="viewHome-matchList">
        
    </ul>
</div>

<!--<div>
    <a href="/Scorecard/Create?matchId=36" class="button action-match-addPlayer">Tilføj spiller</a>
    <a href="/Match/" class="button">Færdig!</a>
</div>-->