<div class="app-topbar">
    <a href="#/" class="app-topbar-back">&lt;</a>
    <span class="app-topbar-text">Ny spiller</span>
</div>

<div class="section section-white">
    <div class="app-content">
        <div class="app-dialog-form-input" data-id="">
            <label>Navn</label>
            <input type="text" ng-model="name" />
        </div>
    </div>
    <hr class="devider"/>
    <div class="app-content">
        <div class="app-dialog-form-input" data-id="">
            <label>Hcp</label>
            <input type="number" ng-model="hcp" />
        </div>
    </div>
    <div class="app-content">
        <button ng-click="createPlayer()" class="app-button">Opret</button>
    </div>
</div>